<%# Error display %>
<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% if obj.class.name == "Post" %>
      <h3 class="alert-heading">Failed to post</h3>
    <% elsif obj.class.name == "User" && obj.new_record? %>
      <h3 class="alert-heading">Failed to create account</h3>
    <% else %>
      <h3 class="alert-heading">An error occurred</h3>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>