<%# Flash error display %>
<%# TODO: Cleanup conditionals for flash %>
<% unless (flash.keys - ["alert", "notice"]).empty? %>
  <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <h3>An error occurred</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul>
      <% flash.each do |type, message| %>
        <% unless ["alert", "notice"].include?(type) %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>