<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<% end %>

<% if @featured_posts %>
  <%= render 'posts_featured', obj: @featured_posts %>
<% end %>
<div class="row justify-content-center">
  <div class="d-flex flex-column col-11">
    <div class="align-self-center">
      <%= paginate @posts %>
    </div>
    <%= render 'shared/posts_list', obj: @posts %>    
    <div class="align-self-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>