@import 'bootstrap/dist/css/bootstrap';

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Sanchez;
  src: url(Sanchez-Regular.ttf) format("truetype");
}

html, body {
  background-color: #e2dacf;
  font-family: 'Roboto', sans-serif;
  color: #120f0f;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, a, span {
  font-family: 'Sanchez', serif;
}

#page-content {
  flex: 1 0 auto;
}

.underline {
  text-decoration: underline;
}

.bg-main {
  // background-color: #372214;
  background-color: #f1f1f9;
}

.bg-alt {
  // background-color: #794228;
  background-color: #e2dacf;
}

.bg-aux {
  // background-color: #b8733a;
  background-color: #c5b19d;
}

.bg-supp {
  // background-color: #34302c;
  background-color: #120f0f;
}

.bg-trim {
  // background-color: #bec2cb;
  background-color: #6b656e;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link {
  color: red;
}

.navbar-dark .navbar-brand {
  color: #120f0f;
}

.navbar-dark .navbar-brand:hover {
  color: #6b656e;
}

.navbar-dark .nav-item .nav-link {
  color: #120f0f;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #6b656e;
}

#post-carousel {
  background-color: #bec2cb;
}

.link {
  color: #b8733a;  
}

.link:hover {
  color: #794228;
}

.with-error {
  border-color: red;
}

.card-shadow {
  box-shadow: 15px 15px #c5b19d;
}

.navbar-nav li.nav-item {
  margin: 0px 50px;
  font-family: 'Sanchez', serif;
}

.min-w {
  min-width: 40rem;
}

.bg-overlay {
  background-color: rgba($color: #000000, $alpha: 0.5);
  overflow: hidden;
}

.bg-overlay:hover {
  background-color: rgba($color: #000000, $alpha: 0.25);
}

.profile-nav .nav-item .nav-link.active, 
.profile-nav .nav-item .nav-link.active:hover {
  color: #fff;
  background-color: #6b656e;  
}

.profile-nav .nav-item .nav-link {
  color: #6b656e;
}

.profile-nav .nav-item .nav-link:hover {
  color: #120f0f;
}

// .card-block {
//   font-size: 1em;
//   position: relative;
//   margin: 0;
//   padding: 1em;
//   border: none;
//   border-top: 1px solid rgba(34, 36, 38, .1);
//   box-shadow: none;
   
// }