@import 'bootstrap/dist/css/bootstrap';

html, body {
  background-color: #e2dacf;
  color: #120f0f;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.underline {
  text-decoration: underline;
}

.bg-main {
  // background-color: #372214;
  background-color: #f1f1f9;
}

.bg-alt {
  // background-color: #794228;
  background-color: #e2dacf;
}

.bg-aux {
  // background-color: #b8733a;
  background-color: #c5b19d;
}

.bg-supp {
  // background-color: #34302c;
  background-color: #120f0f;
}

.bg-trim {
  // background-color: #bec2cb;
  background-color: #6b656e;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link {
  color: red;
}

.navbar-dark .navbar-brand {
  color: #120f0f;
}

.navbar-dark .navbar-brand:hover {
  color: #6b656e;
}

.navbar-dark .nav-item .nav-link {
  color: #120f0f;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #6b656e;
}

#post-carousel {
  background-color: #bec2cb;
}

.link {
  color: #b8733a;  
}

.link:hover {
  color: #794228;
}

.with-error {
  border-color: red;
}

.card-shadow {
  box-shadow: 15px 15px #c5b19d;
}

li.nav-item {
  margin: 0px 50px;
}

// .card-block {
//   font-size: 1em;
//   position: relative;
//   margin: 0;
//   padding: 1em;
//   border: none;
//   border-top: 1px solid rgba(34, 36, 38, .1);
//   box-shadow: none;
   
// }