<h1 class="text-center mt-2">Categories</h1>

<div class="row row-cols-1 row-cols-md-3 justify-content-center">
  <% @categories.each do |category| %>
    <div class="col mb-3">
      <div class="card card-shadow justify-content-center h-100">
        <div class="p-3 text-center">
          <%= link_to category.name, category_path(category), class: "h3 link stretched-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>