<footer>
  <div class="container text-center my-4">
    <div class="small">Created with Rails by  <%= link_to "Adan Guanlao",  "http://elasticbeanstalk-us-east-2-515165424215.s3-website.us-east-2.amazonaws.com/" %> </div>
  </div>
</footer>