<%# Flash notice & alert messages %>
<% unless flash.empty? %>
  <div class="row justify-content-center mt-2">
    <div class="col-10">
      <% flash.each do |type, message| %>
        <% if ["alert", "notice"].include?(type) %>
          <% alert_type = type == "alert" ? "alert-warning" : "alert-success" %> 
          <div class="alert <%= alert_type %> alert-dismissable fade show">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>